html {
    scroll-padding-top: 80px;
    background-color: var(--body-bg);
}

body {
    font-family: var(--bs-body-font-family);
    overflow-x: hidden !important;
    font-size: $font-size-base;
    color: var(--body-color);
    background-color: var(--body-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1199px) {
    html {
        scroll-padding-top: 120px;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: var(--bs-heading-font-family);
    line-height: 1.4;
    font-weight: 700;
}

::selection {
    background: var(--primary);
    color: var(--white);
    opacity: 0.9;
}

a {
    text-decoration: none;
    transition: all 0.2s ease;
    color: var(--primary);

    &:hover {
        color: var(--primary-800);
    }
}

p {
    line-height: 1.7;
}

img {
    height: auto;
}
