// Hero button overrides
.hero-section {
    .hero-buttons {
        .btn-primary {
            color: $white !important;

            .material-icons {
                color: inherit;
            }
        }

        .btn-outline-primary {
            .material-icons {
                color: inherit;
            }

            &:hover,
            &:focus,
            &:active {
                .material-icons {
                    color: $white !important;
                }
            }
        }
    }
}

html[data-dark-mode] {
    .hero-section {
        .btn-outline-primary {
            color: lighten($primary, 10%);
            border-color: lighten($primary, 10%);

            &:hover,
            &:focus,
            &:active {
                background-color: lighten($primary, 10%);
                border-color: lighten($primary, 10%);
                color: $white !important;
            }
        }
    }
}
