{{ $fonts := .Site.Params.google_fonts | default .Site.Params.docs.google_fonts }}
{{ if $fonts }}
    {{ $families := slice }}
    {{ range $fonts }}
        {{ $family := replace (index (.) 0) " " "+" }}
        {{ $weights := replace (index (.) 1) " " "" }}
        {{ $string := print $family ":" $weights }}
        {{ $families = $families | append $string }}
    {{ end }}
    {{ $url_part := (delimit $families "|") | safeHTMLAttr }}
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link {{ printf "href=\"https://fonts.googleapis.com/css2?family=%s&display=swap\"" $url_part | safeHTMLAttr }} rel="stylesheet">
{{ end }}
